/* Main Gaudi style sheet */
/* the HTML tag are uppercased for clearer reading */
/* Body of the page settings: prevents any margin */

BODY {
  background-color: #FEFFF1;
  position: relative;
  margin: 0; padding: 0;
  font-family: "Arial",sans-serif;
}

P {
  text-align:
  justify;
}

/* Unique Gaudi manifest (on the main page) */
#manifest {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #FCF6CF;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  padding: 15px 18px 15px 18px;
}



/* general table settings */
TABLE {
  border-width: 0px 0px 0px 0px;
  border-spacing: 0px 0px;
  border-style: none none none none;
  border-color: gray gray gray gray;
  border-collapse: collapse;
  background-color: white;
}


TD {
  border-width: 1px 1px 1px 1px;
  padding: 4px 8px 4px 8px;
  border-style: solid solid solid solid;
  border-color: #8B1A1A #8B1A1A #8B1A1A #8B1A1A;
  background-color: white;
}

/* default link settings */
A {
  text-decoration: none;
}
A:link {
  /* color: blue; */
  color: #8B1A1A;
}
A:visited {
  /* color: blue; */
  color: #8B1A1A;
}
A:hover {
  color: yellow
}
A:active {
  color: lime
}

A#projecticon img {
  text-decoration: none;
  border: 0px;
}

.ctitle TABLE {
  width: 100%;
  border: 0px;
  table-layout: fixed;
}

.ctitle TD{
  font-variant: small-caps;
  font-weight: bold;
  color: white;
  background-color: #8B1A1A;
  text-align: center;
}

.ctitle A:link {
  color: white ;
}
.ctitle A:visited {
  color: white ;
}
.ctitle A:hover {
  color: yellow ;
}
.ctitle A:active {
  color: lime ;
}

.crtitle H1 {
  text-align: center;
  background-color: #FDF2EE;
  margin-top: 0px;
  margin-bottom: 0px;
}
.crtitle A:hover {
  color: #EE7600 ;
}

.iconspace {
  width: 50px;
}


#relinks {
  width: 100%;
}


#relinks TD {
  text-align: center;
  background-color: #FDF2EE;
}

.pagebody {
  position: relative;
  width: 90%;
  left: 5%;

}


.pagebody A:link {
  color: #68228B ;
}

.pagebody A:visited {
  color: #68228B ;
}

.pagebody A:hover {
  color: #EE7600 ;
}

.pagebody A:active {
  color: lime ;
}

.pagebody TABLE {
  margin-left:auto;
  margin-right:auto;
}

.pagebody H1 {
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  color: #8B1A1A;
}

.pagebody H2 {
  color: #8B1A1A;
  border-style: none none solid solid;
  padding-left: 0.3em;
  border-width: thin;
  margin-top: 2em;
}

.firstcell {
  background-color: #8B1A1A;
  font-weight: bold;
  color: white;
}

.firstcell A:link {
  color: white ;
}
.firstcell A:visited {
  color: white ;
}
.firstcell A:hover {
  color: yellow ;
}
.firstcell A:active {
  color: lime ;
}

#project_links A:hover{
  color: yellow ;
}

#requ {
  border-width: 1px;
  border-color: black;
  border-style: solid;
  background-color: #FCF6CF;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 80%;
  padding: 15px 18px 15px 18px;
}

#code {
  border-width: 0px;
  border-color: black;
  border-style: solid;
  background-color: #ECF1EF;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  width: 70%;
  padding: 13px 18px 0px 18px;
}


#ann {
  border-width: 1px;
  border-color: #8B1A1A;
  border-style: solid;
  background-color: #FEE0C6 ;
  margin-right: 0;
  margin-left: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 15px 18px 5px 18px;
  width: 20em;
  float: right;

}

#ann H2 {
  border-style: none none none none;
  color: black;
  margin-top: 0em;
  text-align: center;
}

.important {
  font-weight: bold;
}

span.author { color: #737373; }
