---
---
<html><head><script>
{% assign releases = site.releases | sort_version: 'version' | reverse %}
window.location = "{{ releases[0].url | prepend: site.baseurl }}";
</script></head><body/></html>
