<div class="ctitle">
  <TABLE id="pagetitle">
    <TBODY>
      <TR>
        <TD class=iconspace>
          <IMG src="{{ site.baseurl }}/images/gaudisf2.png">
        </TD>
        <TD vAlign=middle align=center>
          <H1><a href="{{ site.baseurl }}/" >The Gaudi Project</a></H1> </TD>
      </TR>
    </TBODY>
  </TABLE>
</div>
{% include links.html %}
