<head>
<meta charset="utf-8">
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html">
<title>
{% case page.layout %}
{% when 'release' %}
  Gaudi {{ page.version }}
{% when 'release_notes' %}
  Gaudi {{ page.version }} Release Notes
{% else %}
  {{ site.title }}
{% endcase %}
</title>
<link rel="icon" type="image/jpg" href="{{ site.baseurl }}/images/gaudisf.jpg">
<link rel="stylesheet" href="{{ site.baseurl }}/css/gaudi.css" type="text/css" media="screen">
</head>
