<div id=project_links class=ctitle>
  <table>
    <tr>
      <td class=iconspace>
        <a href="{{ site.baseurl }}/"> Home </a>
      </td>
      <td>
        <a href="{{ site.baseurl }}/releases"> Releases </a>
      </td>
      <td>
        <a href="{{ site.baseurl }}/releases/latest"> Latest Release </a>
      </td>
      <td>
        <A href="{{ site.code_hosting }}"> GitLab Project Web Portal </A>
      </td>
    </tr>
  </table>
</div>
