---
title: Tips &amp; Tricks
---
	<div class="crtitle">
  <h1> {{ page.title }} </h1>
	</div>
	<div id=manifest>
	  This page describes a collection of different tips and
	  tricks to help software developers in a Gaudi-like
	  environment. These are essentially Linux helpers. Few are
	  very common features and pitfalls known by every developer
	  and few others are more advanced tweaks.
	</div>
	<h2> CMT </h2>
        <h3>A new tool to create a patch file</h3>
        <p>Since Gaudi v20r3 a new tool is available for easy patch
        creation in the framework itself. You can find more detailed
        informations for patches submissions to <a
        href="http://savannah.cern.ch/projects/gaudi">Savannah</a> at this <a href="https://savannah.cern.ch/cookbook/?func=detailitem&item_id=173">location</a></p>
        <h3>Providing patches for the whole project (Linux only - deprecated)</h3>
        <p> Here is a nice trick (thanks to Ivan Belyaev) for
        providing easily a set of patches to be applied on a whole
        Gaudi-like project. In order to use this trick, you have to
        apply it from a cmt directory. For Gaudi, in order to obtain
        the diffs for every package, one has to run it from the
        Gaudi/[<em>version</em>/]cmt (for Gaudi versions up to v19r0) or
	GaudiRelease/[<em>version</em>/]cmt directory (for Gaudi v19r1 or
	above).</p>
	<pre id=code>
> cmt broadcast "cd ..; cvs diff -u -r HEAD | tee /tmp/&#x003c;package&#x003e;.diff "
	</pre>
        <p> The "tee" command is the secret to make it work. It splits
        the output between the screen and the output file. The
        &#x003c;package&#x003e; word in this command is <em>not</em> a
        placeholder for a custom output. It is a CMT variable and has
        to be used as shown in the command. The "-u" option for the
        cvs diff command is not mandatory but it is quite useful to
        review the patch. It provides some context around the
        diff lines of the patch. Finally the list of output files will look
        like:</p>
	<pre id=code>
> ls /tmp/Gaudi*
/tmp/GaudiAlg.diff       /tmp/GaudiMonitor.diff  /tmp/GaudiSiteSvc.diff
/tmp/GaudiAud.diff       /tmp/GaudiPolicy.diff   /tmp/GaudiSvc.diff
/tmp/GaudiExamples.diff  /tmp/GaudiPoolDb.diff   /tmp/GaudiSys.diff
/tmp/GaudiGSL.diff       /tmp/GaudiPython.diff
/tmp/GaudiKernel.diff    /tmp/GaudiRelease.diff
	</pre>
        <p> The final remark is that all of the output files content are not
        necessarily useful. Some of them only contain lines beginning
        with "?" and thus are meaningless.
<!--	<h3>The CMT path</h3>
	<h3>Command Broadcast</h3> -->
	<h2> CVS </h2>
        <h3>Checking out a local copy of the Gaudi framework</h3>
        <p>As explained at the <a href="../">main page</a> of the
        site, one has to use the
        <b>:pserver:anonymous@isscvs.cern.ch:/local/reps/Gaudi</b>
        value for the CVSROOT variable (or passed it to the cvs
        command with the "-d" option). There is a special CVS module
        in that CVS repository which allows to extract all the Gaudi
        packages in one shot. The name of the module is "all":
	<pre id=code>
> cvs -d :pserver:anonymous@isscvs.cern.ch:/local/reps/Gaudi co -r \
 HEAD all
        </pre>
        <h3>Updating to the CVS HEAD</h3>
        <p>The usual command to update to the CVS HEAD would look like:</p>
	<pre id=code>
> cvs update -dPA
        </pre> <p>For a more complete explanation please have a look
        at the  <a
        href="http://cvsbook.red-bean.com/cvsbook.html#update">CVS documentation</a>. The
        "-A" forces the removal of any sticky tags. The "-d" retrieves
        the missing directories and the "-P" option removes empty
        directories.</p> <h3>Creating a patch for a Gaudi package</h3>
        <p>If one has modifications for only one Gaudi package and
        would like to submit it to the <a
        href="https://savannah.cern.ch/projects/gaudi">Savannah
        site</a>, unlike the trick in the CMT section, to create the
        patch, one can simply do:
        <pre id=code>
> cvs diff -u -r HEAD > GaudiKernel.patch
        </pre>
        <p>What is more important is the location where this command
        is executed. It should be executed in the <em>main directory of
        the package</em>:</p>
        <pre id=code>
GaudiKernel> ls
cmt/  CVS/  dict/  doc/  GaudiKernel/  scripts/  slc3_ia32_gcc323_dbg/
src/
GaudiKernel> cvs diff -u -r HEAD > GaudiKernel.patch
        </pre>
        <p> The "-u" command output a diff file with more context
        lines which tends to be more readable and the "-r HEAD" option
        ensures that the diff are computed against the CVS HEAD.</p>
	<h2>C++</h2>
	<h3>Migrating from g++ 2.95 to g++ 3.2</h3>
	<p>The <a href="dynamic_cast.html">dynamic_cast
	problem</a>. This was solved for Gaudi some time ago and it is
	here for reference.</p>
	<h3>Migrating from g++ 3.2.3 to g++ 3.4.5</h3>
	  <ul>
	  <li><b>Semicolon after a namespace closure</b>: The new version
	  of the compiler now enforces the absence of a semicolon after
	  the closing curly bracket of a namespace. These errors are difficult to
	  track since the compiler message doesn't point to the
	  precise line but breaks a bit after when processing a
	  namespace in a header file.</li>
	  <li> <b>Initialization of the base class copy
	  constructor</b>: With the new compiler, explicit
	  initialization of the copy constructor is required. This is
	  not difficult to solve since the compiler gives a rather
	  clear explanation of the problem.</li>
	  <li> <b>Calling a base class method of a templated
	  class</b>: in some cases, the compiler requires that the
	  call to some method of a dependent parent class of a templated class
	  be prepended by a "<code>this-></code>". For more details,
	  please have a look at the C++ section of the <a
	  href="http://gcc.gnu.org/gcc-3.4/changes.html">changes
	  page</a> of GCC 3.4 .</li>
	</ul>
	<h3>Ambiguous call order</h3>
	  <p>When using the returned value of a function as a direct
	  argument for an other function several times, the order of
	  evaluation is not specified. For example:</p>
	<pre id=code>
double rdmg();

MyTrack track(rdmg(),rdmg(),rdmg());
	</pre>
	<p>In the above C++ code snippet, a constructor is initialized
	with 3 doubles which are returned values of the rdmg
	function. If that function returns each time a different
	value, the result is unpredictable. The compiler can decide
	which call it wants to execute first and typically there are
	differences between GCC 3.2.3 and GCC 3.4.5 . One trivial way to
	solve the ambiguity would be:</p>
	<pre id=code>
double rdmg();

double a=rdmg();
double b=rdmg();
double c=rdmg();

MyTrack track(a,b,c);
	</pre>

	<h3>Compliance with 64 bits platforms </h3>
	<p>When using the <code>std::string::find</code> function from the STL
	library, one can often see the following use:</p>
	<pre id=code>
int sep = path.find(SEPARATOR,1);
if ( sep > 0 )
	</pre>
	<p> This works well since
	<code>std::string::size_type</code> is <code>unsigned
	int</code> on 32 bits platforms but this is not the case on 64
	bits platforms. On those machines,
	<code>std::string::size_type</code> is a 64 bits integer. So
	the corrected code will be:</p>
	<pre id=code>
std::string::size_type = path.find(SEPARATOR,1);
if ( sep != std::string::npos )
	</pre>
	<h2>Python</h2>
	<h3>Command completion</h3>
	<p>To ease a bit the use of the interactive python prompt with
	Linux, there is an interesting setting to put in your
	${HOME}/.pystart file (the file which is identified by the
	PYTHONSTARTUP environment variable).</p>
	<pre id=code>
try:
         import readline
except ImportError:
         print "Module readline not available"
else:
         import rlcompleter
         readline.parse_and_bind("tab: complete")
	</pre> <p>This allows to have a line completion using the
	readline library (this library is also used by bash, emacs and
	gdb for examples) and it can be configured through the
	${INPUTRC} file for all of its clients. Please have a look at
	the documentation (<code>man 3 readline</code>).</p>
	<h3>Trace</h3>
	<p>This is just an advertisement of one of the useful features
	present in the standard python library. The following line
	allow to show the call trace of the execution of a python
	script (myscript.py):</p>
	<pre id=code>
python /usr/lib/python2.4/trace.py -t myscript.py
	</pre>
	<p>If the path to the python installation has been produced by a CMT
	setup, the path to the trace.py program has to be set accordingly.
	</p>
<pre id=code>
> which python
/afs/cern.ch/sw/lcg/external/Python/2.4.2/slc3_ia32_gcc323/bin/python
> python /afs/cern.ch/sw/lcg/external/\
Python/2.4.2/slc3_ia32_gcc323/lib/python2.4/trace.py -t myscript.py

</pre>
<!--	<h3>Syntax checking </h3> <a
	href="http://www.logilab.org/857">Pylint</a> is a highly configurable
	syntax checking tool. It has been installed in the
	/afs/cern.ch/lcg/external area.
<pre id=code>
> which python
/afs/cern.ch/sw/lcg/external/Python/2.4.2/slc3_ia32_gcc323/bin/python
> python /afs/cern.ch/sw/lcg/external/\
 myscript.py

</pre> -->
	<h2> Debugging </h2> <h3>GDB</h3> <ul> <li>
	    <b>Basic environment</b>
	    <p>
	      To be able to use gdb to debug a Gaudi based
	      application, you should use the correct
	      environment. This means that you either can do a
	      <code>source setup.[c]sh</code> before starting
	      <code>gdb Gaudi.exe</code> or use the <code>cmt run gdb
	      Gaudi.exe</code> command (the <code>cmt run</code>
	      command is only available on the v1r18 version of CMT or
	      later).
	    </p>
	    <p>
	      When gdb is running, you still have to provide the
	      command line arguments for your executable if any. This
	      can be achieved in two ways: you can give as an argument
	      of the <code>run</code> and <code>start</code> commands
	      of gdb,
	    </p>
	    <pre id=code>
gdb> run Gaudi.opts
	    </pre>
	    <p>
	    or you can set the arguments of your program and run with the
	    following instructions:
	    </p>
	    <pre id=code>
gdb> set args Gaudi.opts
gdb> run
	    </pre>
	    <p>
	      The difference between the <code>run</code> and the
	      <code>start</code> command resides in the fact that
	      <code>start</code> only run the program until it reaches
	      the <code>main</code> function and that <code>run</code>
	      run the program until a problem is found.
	    </p>
	  </li>
	  <li>
	    <b>Tcsh workaround</b> <p> The usual way for gdb to start
	    a program <code>prog</code> for debugging is to issue the
	    command: <code>${SHELL} -c prog</code>. While this is
	    perfectly regular action with Bash, some version of Tcsh
	    behave a bit strangely. For these versions, not only the
	    .tcshrc file is read when starting with the <code>-c</code>
	    option, but also the .login file. This could possibly lead
	    to the impossibility to debug anything with gdb under the
	    CMT environment.</p> <p>In details, if you have a look on
	    one hand the UNIX way of working, you noticed that the
	    environment of your shell is quite stable: you first
	    login, setting up your environment through the reading of
	    the ~/.login file and then for each issued commands a new
	    shell is spawned and initialized with the .tcshrc
	    configuration. The new created shell inherits all of its
	    environment variable from its parent shell. The
	    environment variables are somehow independent of the given
	    shell instance and that's why they should <em>never</em> be
	    set up in the .tcshrc file since it is read for every new
	    instance of tcsh. For example, one can set the
	    LD_LIBRARY_PATH to one's favorite libraries in the
	    following way in the .login file:</p>
	      <pre id=code>
setenv LD_LIBRARY_PATH ${HOME}/lib
	      </pre>
	    <p>
	    This will set your LD_LIBRARY_PATH when you login and it
	    will be propagated to any other shell instance.
	    </p>
	    <p>
	      On the other hand, CMT is introducing new mecanism for
	      the code development to increase the flexibility of the
	      package management. It doesn't rely on a fix stable
	      environment but rather set up a customized environment
	      for each application. Typically, when one's is building
	      a CMT application, the following steps are required:</p>
	    <ol>
	      <li> Compile and link (<code>cmt broadcast make</code>)</li>
	      <li> set the environment (<code>source
	      setup.csh</code>)</li>
	      <li>run the application (<code>../${CMTCONFIG}/Gaudi.exe
	      ../options/Gaudi.opts</code>)</li>
	    </ol>
	    <p>
	    The second steps sets or updates different environment
	    variables as, for examples, the LD_LIBRARY_PATH. These are
	    necessary to run the application at the third
	    step. Obviously this also mean that <em>the debugger (gdb or
	    one of its frontends, ddd or emacs) should be
	    started at the same prompt where the setup step has been made.</em>
	    </p>
	    <p>If the .login or worse, the .tcshrc file is setting the
	    LD_LIBRARY_PATH in the way mentioned above, this would
	    reset the environment of the program run in the gdb
	    session and the debugging would be impossible. One simple
	    workaround would be to removed the "<code>setenv
	    LD_LIBRARY_PATH ...</code>" command from the .login file or only
	    to update it if it doesn't already exist.
	    <pre id=code>
if (${?LD_LIBRARY_PATH} != "1") then
setenv LD_LIBRARY_PATH ${HOME}/lib
else
setenv LD_LIBRARY_PATH ${LD_LIBRARY_PATH}:${HOME}/lib
endif
	    </pre>
	  </li>
<!--	  <li>
	    <B>Useful settings</b>
	    <pre id=code>
gdb>set print pretty
gdb>set print array
gdb>set print object
gdb>set print vtbl
	    </pre>
	  </li>
	  <li>
	    <b><a href="http://www.gnu.org/software/ddd">DDD</a></b>
	  </li> -->
	</ul>
<!--	<h3>Windows</h3>
	<h3>Memory debugging</h3>
	<ul>
	  <li> <b>Valgrind</b> </li>
	  <li> <b>ElectricFence</b> </li>
	  <li> <b>Malloc flags</b> </li>
	  <li> <b>Fortran bounds check</b>: two options
	  (-fbounds-check and -ffortran-bounds-check) are available
	  with the gcc compiler which enable to make a runtime check
	  of the subscript access to an array.</li>
	</ul>
	<h3>Other Tools</h3>
	<ul>
	  <li> <a href="http://www.liacs.nl/~wichert/strace"><b>strace</b></a> </li>
	  <li> <b>watch</b> </li>
	</ul>
	<h2> Xemacs </h2>
	<h3>Client/Server usage</h3>
	<h3>File extensions mode</h3>
	<h3>Completion in minibuffer</h3>
	<h2> Misc </h2>
	<h3>SSH without password</h3>
	<h3>Distributed compilation</h3> -->
