---
layout: base
---
<div class="crtitle">
  <h1><a href="{{ page.version | prepend: "/releases/" | prepend: site.baseurl }}">Gaudi {{ page.version }}</a></h1>
  {% include release_links.html %}
</div>

<div class="pagebody">
  {{ content }}
</div>
<br><br><br>

<div class="crtitle">
  {% include release_links.html %}
</div>
